/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  margin: 0;
  border: 0;
}

body {
  height: 100vh;
  margin: 0 auto;
  width: 1128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  list-style: none;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-left: 156px;
}

.gallery-image {
  width: 360px;
  height: 200px
}

.gallery-image {
  scale: 1;
  transition: scale, cubic-bezier(0.4, 0, 0.2, 1), 250ms;
  cursor: url(../other/custom-pointer.png), auto;
}

.gallery-link:hover .gallery-image,
.gallery-link:focus .gallery-image {
  scale: 1.1;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 408px;
  height: 296px;
  border-radius: 8px;
  padding: 24px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-form input,
.feedback-form textarea {
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
}

.feedback-form button {
  background-color: #4e75ff;;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
}



